# игнорировать директорию __pycache__
__pycache__

# игнорировать файлы .pyc и .pyo
*.pyc
*.pyo

# игнорировать .git репозиторий
.git

# игнорировать файл .env
.env

# Игнорировать файл .dockerignore, чтобы избежать рекурсий
.dockerignore